<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body class="has-background-danger-dark	has-text-black">
        <section class="section"></section>        
        <section class="section is-medium has-background-white">
            <div class="container ">
                <p class="title">Error!</p>
                <p>There was an error: {{error}}</p>
                <a href="/" class="button">Return to Todos</a>
            </div>
        </section>
    </body>
</html>
