<html>
    <head>
        <title>Zeet Todo List</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <img src="https://docs.zeet.co/img/octo.svg" height="52" width="52" />
            </div>
        </nav>
        <div class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        
    </body>
</html>